schemas/xsd/xsd-due-novo/GoodsDeclaration_1p0_DUE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:GoodsDeclaration:1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ds="urn:wco:datamodel:WCO:GoodsDeclaration_DS:1"
    targetNamespace="urn:wco:datamodel:WCO:GoodsDeclaration:1"
    elementFormDefault="qualified">
	
  <xs:import namespace="urn:wco:datamodel:WCO:GoodsDeclaration_DS:1" schemaLocation="GoodsDeclaration_1p0_urn_wco_datamodel_WCO_GoodsDeclaration_DS_1_DUE.xsd"/>
  
  
	<xs:element name="Declaration">
		<xs:complexType>
			<xs:choice>
				<xs:element name="DeclarationNFe" type="DeclarationNFe" />
				<xs:element name="DeclarationNoNF" type="DeclarationNoNF" />
				<xs:element name="DeclarationDrawbackIsencao" type="DeclarationDrawbackIsencao" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
  
  <!-- DU-E com Nota Fiscal Eletrônica-->
  
    <xs:complexType name="DeclarationNFe">
     <xs:sequence>
        <xs:element name="ID" type="ds:DeclarationIdentificationIDType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>EX0001</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DeclarationOffice">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:DeclarationOfficeIdentificationCodeType">
                <xs:annotation>
                  <xs:documentation>EX0010</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Warehouse" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:WarehouseIdentificationIDType">
                      <xs:annotation>
                        <xs:documentation>EX0037</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="TypeCode" type="ds:WarehouseTypeCodeType">
                      <xs:annotation>
                        <xs:documentation>EX0065</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="LatitudeMeasure" type="ds:WarehouseLatitudeMeasureType" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>EX0063</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="LongitudeMeasure" type="ds:WarehouseLongitudeMeasureType" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>EX0064</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Address" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0062</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>EX0040</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>EX0042</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType">
                <xs:annotation>
                  <xs:documentation>
					EX0041
					Forma Exportação;Situação Especial;Caso Especial Transporte
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CurrencyExchange">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CurrencyTypeCode" type="ds:CurrencyExchangeCurrencyTypeCodeType">
                <xs:annotation>
                  <xs:documentation>EX0039</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Declarant">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:DeclarantIdentificationIDType">
                <xs:annotation>
                  <xs:documentation>EX0003</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Contact" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:ContactNameTextType">
                      <xs:annotation>
                        <xs:documentation>EX0080</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Communication" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType">
                            <xs:annotation>
                              <xs:documentation>EX0081</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType">
                            <xs:annotation>
                              <xs:documentation>EX0082</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ExitOffice">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:ExitOfficeIdentificationCodeType">
                <xs:annotation>
                  <xs:documentation>EX0011</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Warehouse" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:WarehouseIdentificationIDType" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>EX0012</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="TypeCode" type="ds:WarehouseTypeCodeType">
                      <xs:annotation>
                        <xs:documentation>EX0066</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="GoodsShipment" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GovernmentAgencyGoodsItem" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomsValueAmount" type="ds:GovernmentAgencyGoodsItemCustomsValueAmountType">
                      <xs:annotation>
                        <xs:documentation>EX0030</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="FinancedValueAmount" type="ds:GovernmentAgencyGoodsItemFinancedValueAmountType" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>EX0090</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="SequenceNumeric" type="ds:GovernmentAgencyGoodsItemSequenceNumericType">
                      <xs:annotation>
                        <xs:documentation>EX0013</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Destination" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CountryCode" type="ds:DestinationCountryCodeType">
                            <xs:annotation>
                              <xs:documentation>EX0049</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="GoodsMeasure">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TariffQuantity" type="ds:GoodsMeasureTariffQuantityType">
                                  <xs:annotation>
                                    <xs:documentation>EX0050</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CategoryCode" type="ds:AdditionalDocumentCategoryCodeType">
                            <xs:annotation>
                              <xs:documentation>EX0024</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0023</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="DrawbackHsClassification" type="ds:AdditionalDocumentDrawbackHsClassificationTextType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0083</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="DrawbackRecipientId" type="ds:AdditionalDocumentDrawbackRecipientIdTextType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0084</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ValueWithoutExchangeCoverAmount" type="ds:AdditionalDocumentValueWithoutExchangeCoverAmountType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0078</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ValueWithExchangeCoverAmount" type="ds:AdditionalDocumentValueWithExchangeCoverAmountType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0077</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ItemID" type="ds:AdditionalDocumentItemIDType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0075</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="QuantityQuantity" type="ds:AdditionalDocumentQuantityQuantityType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0076</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="AdditionalInformation" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>EX0091</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>EX0092</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType">
                                  <xs:annotation>
                                    <xs:documentation>
										EX0093
										Comprot
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PreviousDocument" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AmountAmount" type="ds:PreviousDocumentAmountAmountType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>EX0095</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="CategoryCode" type="ds:PreviousDocumentCategoryCodeType">
                                  <xs:annotation>
                                    <xs:documentation>EX0096</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>EX0097</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="QuantityQuantity" type="ds:PreviousDocumentQuantityQuantityType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>EX0098</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="ItemID" type="ds:PreviousDocumentItemIDType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>EX0099</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Invoice" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:InvoiceIdentificationIDType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>EX0085</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="IssueDateTime" type="ds:InvoiceIssueDateTimeType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>EX0086</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="TypeCode" type="ds:InvoiceTypeCodeType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>EX0087</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="CustomsValueAmount" type="ds:InvoiceCustomsValueAmountType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>EX0088</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="QuantityQuantity" type="ds:InvoiceQuantityQuantityType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>EX0089</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0035</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0028</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="LimitDateTime" type="ds:AdditionalInformationLimitDateTimeType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0026</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType">
                            <xs:annotation>
                              <xs:documentation>
								EX0027
								Prioridade Carga; Exportação Temporária (prazo e processo administrativo)
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Commodity">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Description" type="ds:CommodityDescriptionTextType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0019</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ValueAmount" type="ds:CommodityValueAmountType">
                            <xs:annotation>
                              <xs:documentation>EX0031</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="InvoiceBRLvalueAmount" type="ds:CommodityInvoiceBRLvalueAmountType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0079</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="GoodsMeasure" minOccurs="0" maxOccurs="2">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TypeCode" type="ds:GoodsMeasureTypeCodeType">
                                  <xs:annotation>
                                    <xs:documentation>EX0070</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="TariffQuantity" type="ds:GoodsMeasureTariffQuantityType">
                                  <xs:annotation>
                                    <xs:documentation>EX0029</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="InvoiceLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SequenceNumeric" type="ds:InvoiceLineSequenceNumericType">
                                  <xs:annotation>
                                    <xs:documentation>EX0051</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="ReferencedInvoiceLine" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="SequenceNumeric" type="ds:ReferencedInvoiceLineSequenceNumericType">
                                        <xs:annotation>
                                          <xs:documentation>EX0053</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="InvoiceIdentificationID" type="ds:ReferencedInvoiceLineInvoiceIdentificationIDType">
                                        <xs:annotation>
                                          <xs:documentation>
											EX0054
											Utilizar o número do campo EX0048 para referenciar Notas Fiscais
                                          </xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="GoodsMeasure" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="TariffQuantity" type="ds:GoodsMeasureTariffQuantityType">
                                              <xs:annotation>
                                                <xs:documentation>EX0055</xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ProductCharacteristics" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TypeCode" type="ds:ProductCharacteristicsTypeCodeType">
                                  <xs:annotation>
                                    <xs:documentation>EX0033</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Description" type="ds:ProductCharacteristicsDescriptionTextType">
                                  <xs:annotation>
                                    <xs:documentation>EX0034</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ProductCriteriaConformance" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="QuantityQuantity" type="ds:ProductCriteriaConformanceQuantityQuantityType">
                                  <xs:annotation>
                                    <xs:documentation>EX0094</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="TypeCode" type="ds:ProductCriteriaConformanceTypeCodeType">
                                  <xs:annotation>
                                    <xs:documentation>EX0056</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Description" type="ds:ProductCriteriaConformanceDescriptionTextType">
                                  <xs:annotation>
                                    <xs:documentation>EX0057</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="GoodsMeasure">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="NetNetWeightMeasure" type="ds:GoodsMeasureNetNetWeightMeasureType">
                            <xs:annotation>
                              <xs:documentation>EX0025</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="GovernmentProcedure" maxOccurs="4">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CurrentCode" type="ds:GovernmentProcedureCurrentCodeType">
                            <xs:annotation>
                              <xs:documentation>EX0032</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PreviousDocument" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0017</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0018</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ValuationAdjustment" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AdditionCode" type="ds:ValuationAdjustmentAdditionCodeType">
                            <xs:annotation>
                              <xs:documentation>
								EX0073
								Utilizar o código 149 para identificar Comissão de Agente
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="PercentageNumeric" type="ds:ValuationAdjustmentPercentageNumericType">
                            <xs:annotation>
                              <xs:documentation>EX0074</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Invoice">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:InvoiceIdentificationIDType">
                      <xs:annotation>
                        <xs:documentation>EX0043</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="TypeCode" type="ds:InvoiceTypeCodeType">
                      <xs:annotation>
                        <xs:documentation>EX0069</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Submitter" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:SubmitterIdentificationIDType">
                            <xs:annotation>
                              <xs:documentation>EX0046</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ReferencedInvoice" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:ReferencedInvoiceIdentificationIDType">
                            <xs:annotation>
                              <xs:documentation>EX0048</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="TypeCode" type="ds:ReferencedInvoiceTypeCodeType">
                            <xs:annotation>
                              <xs:documentation>EX0072</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Submitter" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:SubmitterIdentificationIDType">
                                  <xs:annotation>
                                    <xs:documentation>EX0059</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="TradeTerms">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ConditionCode" type="ds:TradeTermsConditionCodeType">
                      <xs:annotation>
                        <xs:documentation>EX0016</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="UCR" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TraderAssignedReferenceID" type="ds:UCRTraderAssignedReferenceIDType">
                <xs:annotation>
                  <xs:documentation>EX0002</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

  
  
  
  <!-- DU-E sem NOTA FISCAL -->

  <xs:complexType name="DeclarationNoNF">
	<xs:sequence>
        <xs:element name="ID" type="ds:DeclarationIdentificationIDType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>EX0001</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DeclarationOffice">
          <xs:annotation>
            <xs:documentation></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:DeclarationOfficeIdentificationCodeType">
                <xs:annotation>
                  <xs:documentation>EX0010</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Warehouse" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:WarehouseIdentificationIDType">
                      <xs:annotation>
                        <xs:documentation>EX0037</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="TypeCode" type="ds:WarehouseTypeCodeType">
                      <xs:annotation>
                        <xs:documentation>EX0065</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="LatitudeMeasure" type="ds:WarehouseLatitudeMeasureType" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>EX0063</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="LongitudeMeasure" type="ds:WarehouseLongitudeMeasureType" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>EX0064</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Address" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0062</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>EX0040</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>EX0042</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType">
                <xs:annotation>
                  <xs:documentation>
					EX0041
					Forma Exportação;Situação Especial;Caso Especial Transporte
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CurrencyExchange">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CurrencyTypeCode" type="ds:CurrencyExchangeCurrencyTypeCodeType">
                <xs:annotation>
                  <xs:documentation>EX0039</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Declarant">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:DeclarantIdentificationIDType">
                <xs:annotation>
                  <xs:documentation>EX0003</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Contact" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:ContactNameTextType">
                      <xs:annotation>
                        <xs:documentation>EX0080</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Communication" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType">
                            <xs:annotation>
                              <xs:documentation>EX0081</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType">
                            <xs:annotation>
                              <xs:documentation>EX0082</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ExitOffice">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:ExitOfficeIdentificationCodeType">
                <xs:annotation>
                  <xs:documentation>EX0011</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Warehouse" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:WarehouseIdentificationIDType" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>EX0012</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="TypeCode" type="ds:WarehouseTypeCodeType">
                      <xs:annotation>
                        <xs:documentation>EX0066</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="GoodsShipment" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Exporter">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:ExporterNameTextType">
                      <xs:annotation>
                        <xs:documentation>EX0005</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ID" type="ds:ExporterIdentificationIDType">
                      <xs:annotation>
                        <xs:documentation>EX0004</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CountryCode" type="ds:AddressCountryCodeType">
                            <xs:annotation>
                              <xs:documentation>EX0007</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType">
                            <xs:annotation>
                              <xs:documentation>EX0006</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Line" type="ds:AddressLineTextType"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="GovernmentAgencyGoodsItem" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomsValueAmount" type="ds:GovernmentAgencyGoodsItemCustomsValueAmountType">
                      <xs:annotation>
                        <xs:documentation>EX0030</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="FinancedValueAmount" type="ds:GovernmentAgencyGoodsItemFinancedValueAmountType" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>EX0090</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="SequenceNumeric" type="ds:GovernmentAgencyGoodsItemSequenceNumericType">
                      <xs:annotation>
                        <xs:documentation>EX0013</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Destination" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CountryCode" type="ds:DestinationCountryCodeType">
                            <xs:annotation>
                              <xs:documentation>EX0049</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="GoodsMeasure">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TariffQuantity" type="ds:GoodsMeasureTariffQuantityType">
                                  <xs:annotation>
                                    <xs:documentation>EX0050</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CategoryCode" type="ds:AdditionalDocumentCategoryCodeType">
                            <xs:annotation>
                              <xs:documentation>EX0024</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0023</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ItemID" type="ds:AdditionalDocumentItemIDType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0075</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="QuantityQuantity" type="ds:AdditionalDocumentQuantityQuantityType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0076</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="AdditionalInformation" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>EX0091</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>EX0092</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType">
                                  <xs:annotation>
                                    <xs:documentation>
										EX0093
										Comprot
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0035</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0028</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="LimitDateTime" type="ds:AdditionalInformationLimitDateTimeType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0026</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType">
                            <xs:annotation>
                              <xs:documentation>
								EX0027
								Prioridade Carga; Exportação Temporária (prazo e processo administrativo)
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Commodity">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Description" type="ds:CommodityDescriptionTextType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0019</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ValueAmount" type="ds:CommodityValueAmountType">
                            <xs:annotation>
                              <xs:documentation>EX0031</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="CommercialDescription" type="ds:CommodityCommercialDescriptionTextType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0020</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Classification">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:ClassificationIdentificationIDType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>EX0021</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="IdentificationTypeCode" type="ds:ClassificationIdentificationTypeCodeType">
                                  <xs:annotation>
                                    <xs:documentation>EX0022</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="GoodsMeasure" minOccurs="2" maxOccurs="2">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="UnitDescription" type="ds:GoodsMeasureUnitDescriptionTextType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>EX0071</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="TypeCode" type="ds:GoodsMeasureTypeCodeType">
                                  <xs:annotation>
                                    <xs:documentation>EX0070</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="TariffQuantity" type="ds:GoodsMeasureTariffQuantityType">
                                  <xs:annotation>
                                    <xs:documentation>EX0029</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Product" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:ProductIdentificationIDType">
                                  <xs:annotation>
                                    <xs:documentation>EX0014</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="IdentifierTypeCode" type="ds:ProductIdentifierTypeCodeType">
                                  <xs:annotation>
                                    <xs:documentation>EX0015</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ProductCharacteristics" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TypeCode" type="ds:ProductCharacteristicsTypeCodeType">
                                  <xs:annotation>
                                    <xs:documentation>EX0033</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Description" type="ds:ProductCharacteristicsDescriptionTextType">
                                  <xs:annotation>
                                    <xs:documentation>EX0034</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ProductCriteriaConformance" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="QuantityQuantity" type="ds:ProductCriteriaConformanceQuantityQuantityType">
                                  <xs:annotation>
                                    <xs:documentation>EX0094</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="TypeCode" type="ds:ProductCriteriaConformanceTypeCodeType">
                                  <xs:annotation>
                                    <xs:documentation>EX0056</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Description" type="ds:ProductCriteriaConformanceDescriptionTextType">
                                  <xs:annotation>
                                    <xs:documentation>EX0057</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="GoodsMeasure">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="NetNetWeightMeasure" type="ds:GoodsMeasureNetNetWeightMeasureType">
                            <xs:annotation>
                              <xs:documentation>EX0025</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="GovernmentProcedure" maxOccurs="4">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CurrentCode" type="ds:GovernmentProcedureCurrentCodeType">
                            <xs:annotation>
                              <xs:documentation>EX0032</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PreviousDocument" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0017</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0018</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ValuationAdjustment" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AdditionCode" type="ds:ValuationAdjustmentAdditionCodeType">
                            <xs:annotation>
                              <xs:documentation>
								EX0073
								Utilizar o código 149 para identificar Comissão de Agente
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="PercentageNumeric" type="ds:ValuationAdjustmentPercentageNumericType">
                            <xs:annotation>
                              <xs:documentation>EX0074</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Importer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:ImporterNameTextType">
                      <xs:annotation>
                        <xs:documentation>EX0008</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CountryCode" type="ds:AddressCountryCodeType">
                            <xs:annotation>
                              <xs:documentation>EX0009</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Line" type="ds:AddressLineTextType">
                            <xs:annotation>
                              <xs:documentation>EX0036</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Invoice">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TypeCode" type="ds:InvoiceTypeCodeType" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>EX0069</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="AdditionalInformation" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0067</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType">
                            <xs:annotation>
                              <xs:documentation>EX0068</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="TradeTerms">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ConditionCode" type="ds:TradeTermsConditionCodeType">
                      <xs:annotation>
                        <xs:documentation>EX0016</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="UCR" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TraderAssignedReferenceID" type="ds:UCRTraderAssignedReferenceIDType">
                <xs:annotation>
                  <xs:documentation>EX0002</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
  </xs:complexType>
    
  <!-- Mensagem para vincular ato concessório de Drawback Inseção a um item de DU-E -->
  
   <xs:complexType name="DeclarationDrawbackIsencao">
        <xs:sequence>
        <xs:element name="GoodsShipment" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GovernmentAgencyGoodsItem" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:GovernmentAgencyGoodsItemSequenceNumericType">
                      <xs:annotation>
                        <xs:documentation>EX0013</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="AdditionalDocument" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CategoryCode" type="ds:AdditionalDocumentCategoryCodeType">
                            <xs:annotation>
                              <xs:documentation>EX0024</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType">
                            <xs:annotation>
                              <xs:documentation>EX0023</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="DrawbackHsClassification" type="ds:AdditionalDocumentDrawbackHsClassificationTextType">
                            <xs:annotation>
                              <xs:documentation>EX0083</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="DrawbackRecipientId" type="ds:AdditionalDocumentDrawbackRecipientIdTextType">
                            <xs:annotation>
                              <xs:documentation>EX0084</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ValueWithExchangeCoverAmount" type="ds:AdditionalDocumentValueWithExchangeCoverAmountType">
                            <xs:annotation>
                              <xs:documentation>EX0077</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ItemID" type="ds:AdditionalDocumentItemIDType" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>EX0075</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="QuantityQuantity" type="ds:AdditionalDocumentQuantityQuantityType">
                            <xs:annotation>
                              <xs:documentation>EX0076</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Invoice" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:InvoiceIdentificationIDType">
                                  <xs:annotation>
                                    <xs:documentation>EX0085</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="IssueDateTime" type="ds:InvoiceIssueDateTimeType">
                                  <xs:annotation>
                                    <xs:documentation>EX0086</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="TypeCode" type="ds:InvoiceTypeCodeType">
                                  <xs:annotation>
                                    <xs:documentation>EX0087</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="CustomsValueAmount" type="ds:InvoiceCustomsValueAmountType">
                                  <xs:annotation>
                                    <xs:documentation>EX0088</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="QuantityQuantity" type="ds:InvoiceQuantityQuantityType">
                                  <xs:annotation>
                                    <xs:documentation>EX0089</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="GovernmentProcedure" maxOccurs="4">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CurrentCode" type="ds:GovernmentProcedureCurrentCodeType">
                            <xs:annotation>
                              <xs:documentation>EX0032</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  
</xs:schema>
