schemas/xsd/xsd-cct/TipoSimples.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema version="1.0" xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" targetNamespace="http://www.pucomex.serpro.gov.br/cct"
	xmlns:tns="http://www.pucomex.serpro.gov.br/cct">

	<simpleType name="ChaveNFE">
		<restriction base="string">
			<whiteSpace value="preserve" />
			<maxLength value="44" />
			<pattern value="[0-9]{44}" />
		</restriction>
	</simpleType>

	<simpleType name="IdDocumentoTransporte">
		<restriction base="string">
			<pattern value="[0-9a-zA-Z-]{5,25}" />
		</restriction>
	</simpleType>

	<simpleType name="CNPJ">
		<restriction base="string">
			<pattern value="[0-9]{14}" />
		</restriction>
	</simpleType>

	<simpleType name="CodigoDominio1N">
		<restriction base="string">
			<pattern value="[0-9]{1}" />
		</restriction>
	</simpleType>

	<simpleType name="CodigoDominio2N">
		<restriction base="string">
			<pattern value="[0-9]{2}" />
		</restriction>
	</simpleType>

	<simpleType name="MoedaSwift">
		<restriction base="string">
			<pattern value="[A-Z]{3}" />
		</restriction>
	</simpleType>

	<simpleType name="CodigoDominioAereo">
		<restriction base="string">
			<pattern value="04" />
		</restriction>
	</simpleType>

	<simpleType name="CodigoDominioAquaViario">
		<restriction base="string">
			<pattern value="01|02|03" />
		</restriction>
	</simpleType>

	<simpleType name="CodigoDominioOutroVeiculo">
		<restriction base="string">
			<pattern value="06|07" />
		</restriction>
	</simpleType>

	<simpleType name="CodigoIMO">
		<restriction base="string">
			<pattern value="[a-z,A-Z,0-9]{1,15}" />
		</restriction>
	</simpleType>

	<simpleType name="CodigoRA">
		<restriction base="string">
			<pattern value="[0-9]{7}" />
		</restriction>
	</simpleType>

	<simpleType name="CodigoURF">
		<restriction base="string">
			<pattern value="[0-9]{7}" />
		</restriction>
	</simpleType>

	<simpleType name="CPF">
		<restriction base="string">
			<whiteSpace value="preserve" />
			<maxLength value="11" />
			<pattern value="[0-9]{11}" />
		</restriction>
	</simpleType>

	<simpleType name="DataPadraoServico">
		<restriction base="string">
			<pattern
				value="(((\d{4})([-])(0[13578]|10|12)([-])(0[1-9]|[12][0-9]|3[01]))|((\d{4})([-])(0[469]|11)([-])([0][1-9]|[12][0-9]|30))|((\d{4})([-])(02)([-])(0[1-9]|1[0-9]|2[0-8]))|(([02468][048]00)([-])(02)([-])(29))|(([13579][26]00)([-])(02)([-])(29))|(([0-9][0-9][0][48])([-])(02)([-])(29))|(([0-9][0-9][2468][048])([-])(02)([-])(29))|(([0-9][0-9][13579][26])([-])(02)([-])(29)))" />
		</restriction>
	</simpleType>

	<simpleType name="ViaTransporte">
		<restriction base="integer">
			<pattern value="[0-9]{2}" />
		</restriction>
	</simpleType>

	<simpleType name="ViaTransporteRodoviaria">
		<restriction base="string">
			<pattern value="07" />
		</restriction>
	</simpleType>

	<simpleType name="Dec_1110v">
		<restriction base="string">
			<whiteSpace value="preserve" />
			<pattern
				value="0|0\.[0-9]{1,10}|[1-9]{1}[0-9]{0,10}|[1-9]{1}[0-9]{0,10}(\.[0-9]{1,10})?" />
		</restriction>
	</simpleType>

	<simpleType name="Dec_1104v">
		<restriction base="string">
			<whiteSpace value="preserve" />
			<pattern
				value="0|0\.[0-9]{1,4}|[1-9]{1}[0-9]{0,10}|[1-9]{1}[0-9]{0,10}(\.[0-9]{1,4})?" />
		</restriction>
	</simpleType>

	<simpleType name="Dec_1202">
		<restriction base="decimal">
			<pattern value="0|0\.[0-9]{2}|[1-9]{1}[0-9]{0,11}(\.[0-9]{2})?" />
		</restriction>
	</simpleType>

	<simpleType name="Dec_2v1">
		<restriction base="decimal">
			<pattern value="([0-9]{1}|[1-9]{1}[0-9]{1})\.[0-9]{1}" />
		</restriction>
	</simpleType>

	<simpleType name="Dec_6v3">
		<restriction base="decimal">
			<pattern value="0\.[0-9]{3}|[1-9]{1}[0-9]{0,5}\.[0-9]{3}" />
		</restriction>
	</simpleType>

	<simpleType name="Dec_9v3">
		<restriction base="decimal">
			<minInclusive value="0.001" />
			<pattern value="0\.[0-9]{3}|[1-9]{1}[0-9]{0,8}\.[0-9]{3}" />
		</restriction>
	</simpleType>

	<simpleType name="IdentificacaoVeiculo">
		<restriction base="string">
			<pattern value="[A-Za-z0-9-]{5,15}" />
		</restriction>
	</simpleType>

	<simpleType name="Lacre">
		<restriction base="string">
			<pattern value="[0-9a-zA-Z]{1,15}" />
		</restriction>
	</simpleType>

	<simpleType name="Latitude">
		<restriction base="string">
			<pattern value="\-?(90\.[0]{1,6}|[1-8]{0,1}[0-9]{1}\.[0-9]{1,6})" />
		</restriction>
	</simpleType>

	<simpleType name="Longitude">
		<restriction base="string">
			<pattern value="\-?(180\.[0]{1,6}|1[0-7]{1}[0-9]{1}\.[0-9]{1,6}|[1-9]{0,1}[0-9]{1}\.[0-9]{1,6})" />
		</restriction>
	</simpleType>

	<simpleType name="NumeroVoo">
		<restriction base="string">
			<pattern value="[0-9a-zA-Z]{5,9}" />
		</restriction>
	</simpleType>

	<simpleType name="NumeroEscala">
		<restriction base="string">
			<pattern value="[0-9]{11}" />
		</restriction>
	</simpleType>


	<simpleType name="NumeroConteiner">
		<restriction base="string">
			<pattern value="[0-9a-zA-Z]{1,11}" />
		</restriction>
	</simpleType>

	<simpleType name="NumeroConhecimento">
		<restriction base="string">
			<pattern value="[0-9A-Za-z]{5,20}" />
		</restriction>
	</simpleType>

	<simpleType name="NumeroConhecimentoMIC">
		<restriction base="string">
			<pattern value="[A-Za-z]{2}[0-9]{3,9}" />
		</restriction>
	</simpleType>

	<simpleType name="NumeroDUE">
		<restriction base="string">
			<pattern value="[0-9]{2}[a-zA-Z]{2}[0-9]{10}" />
		</restriction>
	</simpleType>

	<simpleType name="NumeroRUC">
		<restriction base="string">
			<pattern
				value="([0-9]{1}BR[0-9]{8}[0-9]{1}[0-9a-zA-Z]{1,23})|([0-9]{1}BR[0-9]{11}[0-9]{1}[0-9a-zA-Z]{1,20})" />
		</restriction>
	</simpleType>

	<simpleType name="NumeroMRUC">
		<restriction base="string">
			<pattern
				value="([0-9]{1}BR[0-9]{8}[0-9]{1}[0-9a-zA-Z]{1,23})|([0-9]{1}BR[0-9]{11}[0-9]{1}[0-9a-zA-Z]{1,20})" />
		</restriction>
	</simpleType>

	<simpleType name="Pais">
		<restriction base="string">
			<pattern value="[A-Z]{2}" />
		</restriction>
	</simpleType>

	<simpleType name="PaisIN">
		<restriction base="integer">
			<pattern value="[0-9]{3}" />
		</restriction>
	</simpleType>

	<simpleType name="PrefixoAeronave">
		<restriction base="string">
			<pattern value="[0-9a-zA-Z]{5,15}" />
		</restriction>
	</simpleType>

	<simpleType name="QuantidadeSoltaVeiculo">
		<restriction base="integer">
			<minInclusive value="1" />
			<pattern value="[0-9]{1,7}" />
		</restriction>
	</simpleType>

	<simpleType name="SimNao">
		<restriction base="string">
			<pattern value="S|N" />
		</restriction>
	</simpleType>

	<simpleType name="Nao">
		<restriction base="string">
			<pattern value="N" />
		</restriction>
	</simpleType>

	<simpleType name="Sim">
		<restriction base="string">
			<pattern value="S" />
		</restriction>
	</simpleType>

	<simpleType name="SimNaoNaoSeAplica">
		<restriction base="string">
			<pattern value="S|N|NA" />
		</restriction>
	</simpleType>

	<simpleType name="StringBasica10">
		<restriction base="string">
			<minLength value='1' />
			<maxLength value='10' />
		</restriction>
	</simpleType>

	<simpleType name="StringBasica15">
		<restriction base="string">
			<minLength value='1' />
			<maxLength value='15' />
		</restriction>
	</simpleType>

	<simpleType name="StringBasica20">
		<restriction base="string">
			<minLength value='1' />
			<maxLength value='20' />
		</restriction>
	</simpleType>

	<simpleType name="StringBasica50">
		<restriction base="string">
			<minLength value='1' />
			<maxLength value='50' />
		</restriction>
	</simpleType>

	<simpleType name="StringBasica60">
		<restriction base="string">
			<minLength value='2' />
			<maxLength value='60' />
		</restriction>
	</simpleType>

	<simpleType name="StringBasica120">
		<restriction base="string">
			<minLength value='2' />
			<maxLength value='120' />
		</restriction>
	</simpleType>

	<simpleType name="StringBasica150">
		<restriction base="string">
			<minLength value='2' />
			<maxLength value='150' />
		</restriction>
	</simpleType>

	<simpleType name="StringBasica200">
		<restriction base="string">
			<minLength value='2' />
			<maxLength value='200' />
		</restriction>
	</simpleType>

	<simpleType name="StringBasica250">
		<restriction base="string">
			<minLength value='2' />
			<maxLength value='250' />
		</restriction>
	</simpleType>

	<simpleType name="StringBasica400">
		<restriction base="string">
			<minLength value='1' />
			<maxLength value='400' />
		</restriction>
	</simpleType>

	<simpleType name="StringBasica500">
		<restriction base="string">
			<minLength value='1' />
			<maxLength value='500' />
		</restriction>
	</simpleType>

	<simpleType name="TipoCarga">
		<annotation>
			<documentation>1 = Contêinerizada | 2 = Solta</documentation>
		</annotation>
		<restriction base="integer">
			<pattern value="[1|2]" />
		</restriction>
	</simpleType>

	<simpleType name="TipoCargaConsolidar">
		<annotation>
			<documentation>2 = Solta ou Veículo | 3 = Granel</documentation>
		</annotation>
		<restriction base="integer">
			<pattern value="[2|3]" />
		</restriction>
	</simpleType>


	<simpleType name="TipoDocumentoTransporte">
		<restriction base="tns:CodigoDominio2N">
			<pattern value="[0][1-4,8]" />
		</restriction>
	</simpleType>

	<simpleType name="TipoDocumentoTransporteSemMIC">
		<restriction base="tns:CodigoDominio2N">
			<pattern value="[0][2-4,8]" />
		</restriction>
	</simpleType>

	<simpleType name="TipoDocumentoTransporteMIC">
		<restriction base="tns:CodigoDominio2N">
			<pattern value="01" />
		</restriction>
	</simpleType>

	<simpleType name="TipoDocumentoTransporteRecepcao">
		<restriction base="tns:CodigoDominio2N">
			<pattern value="[0][1-3,8]" />
		</restriction>
	</simpleType>

	<simpleType name="TipoFrete">
		<annotation>
			<documentation>1 = prepaid | 2 = collect</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="[1|2]" />
		</restriction>
	</simpleType>

	<simpleType name="UnidadeMedida">
		<restriction base="string">
			<enumeration value="kg" />
			<enumeration value="m3" />
		</restriction>
	</simpleType>

	<simpleType name="TipoEmbalagem">
		<restriction base="string">
			<pattern value="[0-9]{2}" />
		</restriction>
	</simpleType>

	<simpleType name="TipoGranel">
		<restriction base="string">
			<pattern value="[0-9]{2}" />
		</restriction>
	</simpleType>

	<simpleType name="UF">
		<restriction base="string">
			<pattern value="BR-[A-Z]{2}" />
		</restriction>
	</simpleType>

	<simpleType name="UF2">
		<restriction base="string">
			<pattern value="[A-Z]{2}" />
		</restriction>
	</simpleType>

	<simpleType name="CodigoMunicipio">
		<restriction base="integer">
			<pattern value="[0-9]{4}" />
		</restriction>
	</simpleType>

	<simpleType name="UnidadeCarga">
		<restriction base="string">
			<enumeration value="veiculo" />
			<enumeration value="vagao" />
			<enumeration value="conteiner" />
		</restriction>
	</simpleType>

	<simpleType name="QuantidadeVagoes">
		<restriction base="integer">
			<minInclusive value="1" />
			<pattern value="[0-9]{1,2}" />
		</restriction>
	</simpleType>

	<simpleType name="Ano">
		<restriction base="integer">
			<pattern value="([1]{1}[9]{1}[0-9]{2}|[2]{1}[0]{1}[0-9]{2})" />
		</restriction>
	</simpleType>

	<simpleType name="ChassiVeiculo">
		<restriction base="string">
			<minLength value="2" />
			<maxLength value="20" />
		</restriction>
	</simpleType>

	<simpleType name="MarcaVeiculo">
		<restriction base="string">
            <minLength value="2" />
			<maxLength value="20" />
		</restriction>
	</simpleType>

	<simpleType name="Tara">
		<restriction base="decimal">
			<pattern value="0|0\.[0-9]{3}|[1-9]{1}[0-9]{0,8}(\.[0-9]{3})?" />
		</restriction>
	</simpleType>

	<simpleType name="PaisDestinoMIC">
		<restriction base="string">
			<enumeration value="AR">
				<annotation>
					<documentation>Argentina</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BO">
				<annotation>
					<documentation>Bolívia</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CL">
				<annotation>
					<documentation>Chile</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PY">
				<annotation>
					<documentation>Paraguai</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PE">
				<annotation>
					<documentation>Peru</documentation>
				</annotation>
			</enumeration>
			<enumeration value="UY">
				<annotation>
					<documentation>Uruguai</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="TipoTransporteMIC">
		<restriction base="integer">
			<enumeration value="1">
				<annotation>
					<documentation>Regular</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Próprio</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Ocasional</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="LicencaTransportador">
		<restriction base="string">
		    <pattern value="[0-9]{4}\/[0-9]{2}"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="AutorizacaoOcasional">
		<restriction base="string">
			<pattern value="[0-9a-zA-Z]{1,20}" />
		</restriction>
	</simpleType>

	<simpleType name="CodigoAduanaDestino">
		<restriction base="integer">
			<pattern value="[0-9]{1,7}" />
		</restriction>
	</simpleType>

	<simpleType name="Moeda">
		<restriction base="string">
			<pattern value="[0-9]{3}" />
		</restriction>
	</simpleType>

	<simpleType name="MoedaDolarDosEUA">
		<restriction base="string">
			<pattern value="220" />
		</restriction>
	</simpleType>

	<simpleType name="CodigoTiposVolumes">
		<restriction base="integer">
			<pattern value="[0-9]{1,2}" />
		</restriction>
	</simpleType>

	<simpleType name="QuantidadeVolumes">
		<restriction base="integer">
			<minInclusive value="1" />
			<maxInclusive value="999999" />
		</restriction>
	</simpleType>

	<simpleType name="IdFiscalEstrangeiro">
		<restriction base="string">
			<pattern value="[0-9a-zA-Z-]{1,14}" />
		</restriction>
	</simpleType>


</schema>