schemas/xsd/xsd/reuso/NotaFiscal.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema version="1.0" xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" targetNamespace="http://www.pucomex.serpro.gov.br/cct"
	xmlns:tns="http://www.pucomex.serpro.gov.br/cct">
	
	<element name="notasFiscais">
		<complexType>
			<sequence>
				<element name="notaFiscal" type="tns:TNotaFiscal" minOccurs="1" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

	<complexType name="TNotaFiscal">
		<sequence>
			<element name="tipo"  type="string" />
			<element name="ano"  type="integer" />
			<element name="identificacao"  type="string" />
		</sequence>
	</complexType>	
</schema>