schemas/xsd/xsd/manifesto/ManifestacaoExportacaoPreACDMic.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema version="1.0" xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	targetNamespace="http://www.pucomex.serpro.gov.br/cct"
	xmlns:tns="http://www.pucomex.serpro.gov.br/cct">

	<include schemaLocation="../TipoSimples.xsd" />
	<include schemaLocation="../TipoComplexo.xsd" />

	<element name="ManifestacoesExportacaoPreACDMicDTO">
		<complexType>
			<sequence>
				<element name="manifestacao" type="tns:ManifestacaoExportacaoPreACDMicDTO" minOccurs="1" maxOccurs="unbounded" />
			</sequence>
		</complexType>
		<unique name="identificacaoManifestacaoPre">
			<selector xpath="tns:manifestacao" />
			<field xpath="tns:identificacaoManifestacao" />
		</unique>
	</element>

	<complexType name="ManifestacaoExportacaoPreACDMicDTO">
		<sequence>
			<element name="identificacaoManifestacao" type="tns:StringBasica50" minOccurs="1" maxOccurs="1" />
			<element name="infoGeral" type="tns:InfoGeralMicDTO" minOccurs="1" maxOccurs="1" />
			<element name="veiculo" type="tns:VeiculoRodoviarioMicDTO" minOccurs="1" maxOccurs="1" />
			<element name="transportador" type="tns:TransportadorMicDTO" minOccurs="1" maxOccurs="1" />
			<choice>
				<element name="conhecimentos" minOccurs="1" maxOccurs="1">
					<annotation>
						<documentation>Quando o manifestador não é o transportador</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="conhecimento" type="tns:ConhecimentoMicDTO" minOccurs="1" maxOccurs="unbounded">
								<unique name="uniqueConhecimento">
									<selector xpath="tns:conhecimento" />
									<field xpath="numero" />
								</unique>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="carga" type="tns:CargaMicDTO" minOccurs="1" maxOccurs="1">
					<annotation>
						<documentation>Quando o manifestador é o próprio transportador</documentation>
					</annotation>
				</element>
			</choice>
		</sequence>
	</complexType>

	<complexType name="ConhecimentoMicDTO">
		<sequence>
			<element name="numero" type="tns:NumeroConhecimentoMIC" minOccurs="1" maxOccurs="1" />
			<element name="dataEmissao" type="tns:DataPadraoServico" minOccurs="1" maxOccurs="1" />
			<element name="frete" type="tns:FreteMicDTO" minOccurs="1" maxOccurs="1" />
			<element name="carga" type="tns:CargaMicDTO" minOccurs="1" maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="ConsignatarioCargaMicDTO">
		<sequence>
			<element name="indConsignadoAOrdem" type="tns:SimNao" minOccurs="1" maxOccurs="1" />
			<element name="pais" type="tns:Pais" minOccurs="0" maxOccurs="1" />
			<element name="nome" type="tns:StringBasica60" minOccurs="0" maxOccurs="1" />
			<element name="endereco" type="tns:StringBasica120" minOccurs="0" maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="FreteMicDTO">
		<sequence>
			<element name="moeda" type="tns:MoedaDolarDosEUA" minOccurs="1" maxOccurs="1" />
			<element name="formaPagamento" type="tns:TipoFrete" minOccurs="1" maxOccurs="1" />
			<element name="valor" type="tns:Dec_1202" minOccurs="1" maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="DocTransporteMicDTO">
		<sequence>
			<element name="numero" type="tns:IdDocumentoTransporte" minOccurs="1" maxOccurs="1" />
			<element name="dataEmissao" type="tns:DataPadraoServico" minOccurs="1" maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="InfoGeralMicDTO">
		<sequence>
		    <choice>
		        <element name="cpfManifestador" type="tns:CPF" minOccurs="1" maxOccurs="1" />
		        <element name="cnpjManifestador" type="tns:CNPJ" minOccurs="1" maxOccurs="1" />
		    </choice>
			<element name="paisDestino" type="tns:PaisDestinoMIC" minOccurs="1" maxOccurs="1" />
			<element name="cidadeDestino" type="tns:StringBasica60" minOccurs="1" maxOccurs="1" />
			<element name="indTransitoAduaneiroInternacional" type="tns:SimNao" minOccurs="1" maxOccurs="1" />
			<element name="docTransporte" type="tns:DocTransporteMicDTO" minOccurs="1" maxOccurs="1" />
			<element name="localSaida" type="tns:LocalMicDTO" minOccurs="1" maxOccurs="1" />
			<element name="observacoes" type="tns:StringBasica250" minOccurs="0" maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="LocalMicDTO">
		<sequence>
			<element name="codigoURF" type="tns:CodigoURF" minOccurs="1" maxOccurs="1" />
			<element name="codigoRA" type="tns:CodigoRA" minOccurs="1" maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="TransportadorMicDTO">
	    <sequence>
	        <element name="numeroApoliceSeguro" type="tns:StringBasica20" minOccurs="0" maxOccurs="1" />
	        <element name="dataVencimentoApolice" type="tns:DataPadraoServico" minOccurs="0" maxOccurs="1" />
	        <choice>
	            <element name="brasileiroRegular" type="tns:TransportadorMicBrasileiroRegularDTO" minOccurs="1" maxOccurs="1" />
	            <element name="brasileiroProprio" type="tns:TransportadorMicBrasileiroProprioDTO" minOccurs="1" maxOccurs="1" />
	            <element name="brasileiroOcasional" type="tns:TransportadorMicBrasileiroOcasionalDTO" minOccurs="1" maxOccurs="1" />
	            <element name="estrangeiroRegular" type="tns:TransportadorMicEstrangeiroRegularDTO" minOccurs="1" maxOccurs="1" />
	            <element name="estrangeiroProprio" type="tns:TransportadorMicEstrangeiroProprioDTO" minOccurs="1" maxOccurs="1" />
	            <element name="estrangeiroOcasional" type="tns:TransportadorMicEstrangeiroOcasionalDTO" minOccurs="1" maxOccurs="1" />
	        </choice>
	    </sequence>
	</complexType>

	<complexType name="TransportadorMicBrasileiroRegularDTO">
		<annotation>
			<documentation>Transportador de nacionalidade brasileira e tipo de transporte regular</documentation>
		</annotation>
		<sequence>
			<element name="licencaTNTI" type="tns:LicencaTransportador" minOccurs="1" maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="TransportadorMicBrasileiroProprioDTO">
		<annotation>
			<documentation>Transportador de nacionalidade brasileira e tipo de transporte próprio</documentation>
		</annotation>
		<sequence>
			<element name="licencaTNTI" type="tns:LicencaTransportador" minOccurs="1" maxOccurs="1" />
			<element name="dataVencimentoLicenca" type="tns:DataPadraoServico" minOccurs="0" maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="TransportadorMicBrasileiroOcasionalDTO">
		<annotation>
			<documentation>Transportador de nacionalidade brasileira e tipo de transporte ocasional</documentation>
		</annotation>
		<sequence>
            <element name="autorizacaoOcasional" type="tns:AutorizacaoOcasional" minOccurs="1" maxOccurs="1" />
            <element name="dataVencimentoAutorizacao" type="tns:DataPadraoServico" minOccurs="0" maxOccurs="1" />
            <choice>
            	<element name="numeroCpf" type="tns:CPF" minOccurs="0" maxOccurs="1"/>
            	<element name="numeroCnpj" type="tns:CNPJ" minOccurs="0" maxOccurs="1"/>
            </choice>
		</sequence>
	</complexType>

	<complexType name="TransportadorMicEstrangeiroRegularDTO">
		<annotation>
			<documentation>Transportador de nacionalidade estrangeira e tipo de transporte regular</documentation>
		</annotation>
		<sequence>
		    <element name="idFiscal" type="tns:IdFiscalEstrangeiro" minOccurs="1" maxOccurs="1" />
            <element name="pais" type="tns:Pais" minOccurs="1" maxOccurs="1" />
            <element name="licencaOriginaria" type="tns:StringBasica20" minOccurs="0" maxOccurs="1" />
            <element name="dataVencimentoLicencaOriginaria" type="tns:DataPadraoServico" minOccurs="0" maxOccurs="1" />
            <element name="endereco" type="tns:StringBasica120" minOccurs="1" maxOccurs="1" />
            <element name="licencaComplementarTETI" type="tns:LicencaTransportador" minOccurs="1" maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="TransportadorMicEstrangeiroProprioDTO">
		<annotation>
			<documentation>Transportador de nacionalidade estrangeira e tipo de transporte próprio</documentation>
		</annotation>
		<sequence>
			<element name="idFiscal" type="tns:IdFiscalEstrangeiro" minOccurs="1" maxOccurs="1" />
            <element name="pais" type="tns:Pais" minOccurs="1" maxOccurs="1" />
            <element name="licencaOriginaria" type="tns:StringBasica20" minOccurs="0" maxOccurs="1" />
            <element name="dataVencimentoLicencaOriginaria" type="tns:DataPadraoServico" minOccurs="0" maxOccurs="1" />
            <element name="endereco" type="tns:StringBasica120" minOccurs="1" maxOccurs="1" />
            <element name="nome" type="tns:StringBasica60" minOccurs="1" maxOccurs="1" />
            <element name="licencaComplementarTETI" type="tns:LicencaTransportador" minOccurs="1" maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="TransportadorMicEstrangeiroOcasionalDTO">
		<annotation>
			<documentation>Transportador de nacionalidade estrangeira e tipo de transporte ocasional</documentation>
		</annotation>
		<sequence>
		    <element name="idFiscal" type="tns:IdFiscalEstrangeiro" minOccurs="1" maxOccurs="1" />
            <element name="pais" type="tns:Pais" minOccurs="1" maxOccurs="1" />
            <element name="licencaOriginaria" type="tns:StringBasica20" minOccurs="0" maxOccurs="1" />
            <element name="endereco" type="tns:StringBasica120" minOccurs="1" maxOccurs="1" />
            <element name="nome" type="tns:StringBasica60" minOccurs="1" maxOccurs="1" />
            <element name="autorizacaoOcasional" type="tns:AutorizacaoOcasional" minOccurs="1" maxOccurs="1" />
            <element name="dataVencimentoAutorizacao" type="tns:DataPadraoServico" minOccurs="0" maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="CargaMicDTO">
		<sequence>
		    <element name="consignatario" type="tns:ConsignatarioCargaMicDTO" minOccurs="1" maxOccurs="1" />
			<element name="remetente" type="tns:RemetenteCargaMicDTO" minOccurs="1" maxOccurs="1" />
			<element name="destinatario" type="tns:DestinatarioCargaMicDTO" minOccurs="1" maxOccurs="1" />
			<element name="codigoAduanaDestino" type="tns:CodigoAduanaDestino" minOccurs="0" maxOccurs="1" />
			<element name="nomeAduanaDestino" type="tns:StringBasica60" minOccurs="1" maxOccurs="1" />
			<element name="paisOrigemMercadorias" type="tns:Pais" minOccurs="1" maxOccurs="1" />
			<element name="valorFOTMercadorias" type="tns:Dec_1202" minOccurs="1" maxOccurs="1" />
			<element name="moedaValorFOT" type="tns:Moeda" minOccurs="1" maxOccurs="1" />
			<element name="valorSeguro" type="tns:Dec_1202" minOccurs="0" maxOccurs="1" />
			<element name="moedaValorSeguro" type="tns:MoedaDolarDosEUA" minOccurs="0" maxOccurs="1" />
			<element name="codigoTiposVolumes" type="tns:CodigoTiposVolumes" minOccurs="0" maxOccurs="1" />
			<element name="nomeTiposVolumes" type="tns:StringBasica15" minOccurs="1" maxOccurs="1" />
			<element name="qtdeVolumes" type="tns:QuantidadeVolumes" minOccurs="0" maxOccurs="1" />
			<element name="pesoBruto" type="tns:Dec_9v3" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Peso Bruto (kg)</documentation>
				</annotation>
			</element>
			<element name="descricaoMercadorias" type="tns:StringBasica500" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Informe a marca, números dos volumes e a descrição das mercadorias</documentation>
				</annotation>
			</element>
			<element name="documentosAnexos" type="tns:StringBasica400" minOccurs="1" maxOccurs="1" />
			<element name="nfes" minOccurs="1" maxOccurs="1">
				<complexType>
	    			<sequence>
	    				<element name="nfe" type="tns:NFeCargaMicDTO" minOccurs="1" maxOccurs="50" />
	    			</sequence>
	    		</complexType>
	    		<unique name="uniqueNFe">
	       			<selector xpath="tns:nfe" />
	    			<field xpath="chaveAcesso" />
	    		</unique>
			</element>
		</sequence>
	</complexType>

	<complexType name="NFeCargaMicDTO">
		<sequence>
			<element name="chaveAcesso" type="tns:ChaveNFE" minOccurs="1" maxOccurs="1" />
			<element name="conteineres" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Contêineres vinculados à NF-e</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="conteiner" type="tns:ConteinerMicDTO" minOccurs="1" maxOccurs="unbounded">
							<unique name="uniqueConteiner">
								<selector xpath="tns:conteiner" />
								<field xpath="numero" />
							</unique>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="VeiculoRodoviarioMicDTO">
		<sequence>
			<element name="chassi" type="tns:ChassiVeiculo" minOccurs="1" maxOccurs="1" />
			<element name="anoFabricacao" type="tns:Ano" minOccurs="1" maxOccurs="1" />
			<element name="marca" type="tns:MarcaVeiculo" minOccurs="1" maxOccurs="1" />
			<element name="capacidadeTracao" type="tns:Dec_2v1" minOccurs="1" maxOccurs="1">
				<annotation>
				    <documentation>Capacidade de Tração (T)</documentation>
				</annotation>
			</element>
			<choice>
			    <element name="truck" type="tns:TruckMicDTO" minOccurs="1" maxOccurs="1" />
			    <element name="cavaloComReboque" type="tns:CavaloComReboqueMicDTO" minOccurs="1" maxOccurs="1" />
			</choice>
			<element name="condutor" type="tns:CondutorVeiculoMicDTO" minOccurs="1" maxOccurs="1" />
			<element name="proprietario" type="tns:ProprietarioVeiculoMicDTO" minOccurs="0" maxOccurs="1">
			<annotation>
				<documentation>Somente se transportador não for o proprietário do veículo</documentation>
			</annotation>
			</element>
			<element name="observacoes" type="tns:StringBasica200" minOccurs="0" maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="TruckMicDTO">
		<sequence>
			<element name="placa" type="tns:PlacaVeiculo" minOccurs="1" maxOccurs="1" />
		    <element name="tara" type="tns:Tara" minOccurs="1" maxOccurs="1">
			    <annotation>
			    	<documentation>Tara (Kg)</documentation>
			    </annotation>
		    </element>
			<element name="lacres" minOccurs="0" maxOccurs="1" >
				<complexType>
	    			<sequence>
	    				<element name="lacre" type="tns:Lacre" minOccurs="1" maxOccurs="4" />
	    			</sequence>
	    		</complexType>
	    		<unique name="uniqueLacreTruck">
	       			<selector xpath="tns:lacre" />
	    			<field xpath="." />
	    		</unique>
			</element>
		</sequence>
	</complexType>

	<complexType name="ReboqueMicDTO">
		<sequence>
			<element name="placa" type="tns:PlacaVeiculo" minOccurs="1" maxOccurs="1" />
		    <element name="tara" type="tns:Tara" minOccurs="1" maxOccurs="1">
			    <annotation>
			    	<documentation>Tara (Kg)</documentation>
			    </annotation>
		    </element>
			<element name="lacres" minOccurs="0" maxOccurs="1" >
				<complexType>
	    			<sequence>
	    				<element name="lacre" type="tns:Lacre" minOccurs="1" maxOccurs="4" />
	    			</sequence>
	    		</complexType>
	    		<unique name="uniqueLacreReboque">
	       			<selector xpath="tns:lacre" />
	    			<field xpath="." />
	    		</unique>
			</element>
		</sequence>
	</complexType>

	<complexType name="CavaloMicDTO">
		<sequence>
			<element name="placa" type="tns:PlacaVeiculo" minOccurs="1" maxOccurs="1" />
		    <element name="tara" type="tns:Tara" minOccurs="1" maxOccurs="1">
			    <annotation>
			    	<documentation>Tara (Kg)</documentation>
			    </annotation>
		    </element>
		</sequence>
	</complexType>

	<complexType name="CavaloComReboqueMicDTO">
		<sequence>
			<element name="cavalo" type="tns:CavaloMicDTO" minOccurs="1" maxOccurs="1" />
			<element name="reboques" minOccurs="1" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="reboque" type="tns:ReboqueMicDTO" minOccurs="1" maxOccurs="3" >
							<unique name="uniqueReboque">
								<selector xpath="tns:reboque" />
								<field xpath="placa" />
							</unique>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="CondutorVeiculoMicDTO">
		<sequence>
		    <choice>
		    	<element name="numeroCpf" type="tns:CPF" minOccurs="1" maxOccurs="1" />
		    	<sequence>
					<element name="nome" type="tns:StringBasica60" minOccurs="1" maxOccurs="1" />
					<element name="numeroDocumento" type="tns:StringBasica20" minOccurs="1" maxOccurs="1" />
		    	</sequence>
		    </choice>
		</sequence>
	</complexType>

	<complexType name="ProprietarioVeiculoMicDTO">
		<sequence>
		    <choice>
		    	<sequence>
			        <choice>
			    		<element name="numeroCpf" type="tns:CPF" minOccurs="1" maxOccurs="1" />
			    		<element name="numeroCnpj" type="tns:CNPJ" minOccurs="1" maxOccurs="1" />
			        </choice>
		        </sequence>
		    	<sequence>
					<element name="idFiscal" type="tns:IdFiscalEstrangeiro" minOccurs="1" maxOccurs="1" />
					<element name="nome" type="tns:StringBasica60" minOccurs="1" maxOccurs="1" />
					<element name="endereco" type="tns:StringBasica120" minOccurs="1" maxOccurs="1" />
		    	</sequence>
		    </choice>
		</sequence>
	</complexType>

	<complexType name="ConteinerMicDTO">
		<sequence>
		    <element name="numero" type="tns:NumeroConteiner" minOccurs="1" maxOccurs="1" />
		    <element name="tara" type="tns:Tara" minOccurs="1" maxOccurs="1">
			    <annotation>
			    	<documentation>Tara (kg)</documentation>
			    </annotation>
		    </element>
			<element name="lacres" minOccurs="0" maxOccurs="1" >
				<complexType>
	    			<sequence>
	    				<element name="lacre" type="tns:Lacre" minOccurs="1" maxOccurs="4" />
	    			</sequence>
	    		</complexType>
	    		<unique name="uniqueLacreConteiner">
	       			<selector xpath="tns:lacre" />
	    			<field xpath="." />
	    		</unique>
			</element>

		</sequence>
	</complexType>

	<complexType name="RemetenteCargaMicDTO">
		<sequence>
			<choice>
				<sequence>
					<annotation>
						<documentation>Remetente de nacionalidade brasileira</documentation>
					</annotation>
					<choice>
						<element name="numeroCpf" type="tns:CPF" minOccurs="1" maxOccurs="1" />
						<element name="numeroCnpj" type="tns:CNPJ" minOccurs="1" maxOccurs="1" />
					</choice>
				</sequence>
				<sequence>
					<annotation>
						<documentation>Remetente de nacionalidade estrangeira</documentation>
					</annotation>
					<element name="nome" type="tns:StringBasica60" minOccurs="1" maxOccurs="1" />
					<element name="endereco" type="tns:StringBasica120" minOccurs="1" maxOccurs="1" />
				</sequence>
			</choice>
		</sequence>
	</complexType>

	<complexType name="DestinatarioCargaMicDTO">
		<sequence>
			<choice>
				<element name="numeroCnpj" type="tns:CNPJ" minOccurs="1" maxOccurs="1">
					<annotation>
						<documentation>Destinatário de nacionalidade brasileira</documentation>
					</annotation>
				</element>
				<sequence>
					<annotation>
						<documentation>Destinatário de nacionalidade estrangeira</documentation>
					</annotation>
					<element name="nome" type="tns:StringBasica60" minOccurs="1" maxOccurs="1" />
					<element name="endereco" type="tns:StringBasica120" minOccurs="1" maxOccurs="1" />
				</sequence>
			</choice>
		</sequence>
	</complexType>

</schema>