schemas/xsd/xsd-cct/reuso/Veiculo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema version="1.0" xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" targetNamespace="http://www.pucomex.serpro.gov.br/cct"
	xmlns:tns="http://www.pucomex.serpro.gov.br/cct">
	
	<include schemaLocation="../TipoSimples.xsd" />
	
	<element name="veiculo">
		<complexType>
			<sequence>
				<element name="veiculo" type="tns:TVeiculo" minOccurs="1" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>
	
	<complexType name="TVeiculo">
		<sequence>
			<element name="chassi" type="string" />
		</sequence>
	</complexType>
</schema>